<?xml version="1.0"?>
<Settings>
  <EmailSettings>
    <SMTPServer>smtp.exchangeserverpro.net</SMTPServer>
    <SMTPPort>25</SMTPPort>
    <MailFrom>exchangeserver@exchangeserverpro.net</MailFrom>
    <MailTo>administrator@exchangeserverpro.net</MailTo>
    <Subject>Exchange Server DAG Health Report</Subject>
  </EmailSettings>
</Settings>
